<app-sidebar></app-sidebar>
<div class="container-fluid mt-3">
    <h2 class="text-center">Bienvenido a tu App <span class="fst-italic">Datos-ESP32</span></h2>

    <div class="my-4">
        <section class="d-flex flex-column gap-4">

            <!-- Card 1 -->
            <article class="card shadow-sm border-0 info-card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Sobre la App</h5>
                    <p class="card-text">
                        Esta página está dedicada a proporcionarte información acerca de esta aplicación.
                    </p>
                </div>
            </article>

            <!-- Card 2 -->
            <article class="card shadow-sm border-0 info-card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Cómo usar la API</h5>
                    <p class="card-text">
                        Puedes usar la <span class="fst-italic">API</span> mediante la siguiente URL:
                        <br>
                        <a href="https://telemetria-rest.onrender.com/api/telemetria" target="_blank"
                            class="api-link fw-semibold">
                            https://telemetria-rest.onrender.com/api/telemetria/listar-telemetria
                        </a>
                    </p>
                </div>
            </article>
            <app-weather></app-weather>
            <app-humedity></app-humedity>
            <app-temperature></app-temperature>
        </section>
    </div>
</div>